{% extends 'base.html' %}
{% block content %}
    <h2>Frequently Asked Questions</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Pellentesque vel faucibus massa, ac aliquam eros.
        Vivamus a sollicitudin mauris, non feugiat dui.
        Aenean vulputate ac metus nec semper.
        Ut id lacus lacinia tellus maximus ullamcorper quis a leo.
        Phasellus dignissim eros nec accumsan vestibulum.
        Donec ac lorem ullamcorper, dapibus velit sed, efficitur risus.
        Mauris bibendum placerat laoreet. Donec dignissim libero non scelerisque consequat.
        Nulla facilisi.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra,
        per inceptos himenaeos.
        Vestibulum lacinia neque in felis rhoncus, sit amet bibendum diam bibendum.
        Suspendisse ut nisl tincidunt orci facilisis dapibus sit amet sit amet dui.
        Phasellus tempus est quis felis bibendum efficitur.
        Nam ut ipsum sit amet nisi elementum auctor ac in sapien.
    </p>
{% endblock %}