{% extends 'base.html' %}
{% block content %}
    <h2><b>Frequently Asked Questions</b></h2><br><br>

    <h4> <b>Can I return my game?</b></h4><br>
    <p><b>Returns</b></p>
    <p>Returns are available for nearly everything Captain Console sells.
        We recommend keeping track of all manufacturer packaging and your receipt for a minimum of 90 days after purchase.
        Items purchased from dealers or resellers and not Captain Console or cc.com directly are not eligible for return,
        refund, or exchange.<br><br>
        <b>Returning Items Purchased on cc.com</b><br>
        Items sold and shipped by Captain Console can be returned or replaced, when available, by mail within 90 days receipt unless otherwise instructed by the owner.<br>
        Items can only be returned to a store,
        we currently cannot process replacements even if the item is available;
        return to a store for refund and purchase separately.<br><br>
        Items purchased from dealers or resellers and not cc.com directly are not eligible for return, refund, or exchange.

    </p><br>
    <h4> <b>How long after buying a game can I exchange my game after taking it home?</b></h4><br>
    <p><b>Exchanges</b></p>
    <p>According to Captain Console's return policy, they will exchange, refund or repair your purchased item as long as it meets the following guidelines.<br>
Captain Console will accept returns within 90 days after purchase. This applies to all products, with a few exceptions, such as the following:
Electronics including but not limited to computers, camcorders, digital music players, and GPS units must be returned within 15 days with receipt.<br>

CDs, DVDs, and video game cartridges follow the 90-day return policy, but must be either defective or returned unopened for a refund or exchange.<br>

Captain Console does not require a receipt to facilitate your returns, except for the exceptions mentioned above.
        Any items may be exchanged. For purchases under $25, you may choose to receive a cash refund instead.
        For purchases over $25, you may choose a store shopping card for the amount of the purchase.</p><br>

    <h4> <b>Could I be a part of the team?</b></h4><br>

    <p><b>Sure you can!</b></p><br>


    <p><b>Available jobs</b></p><br>
    <p><b>Shipping Manager</b><br>
        We need a motivated individual to order products for the store and oversee sending products to the customer.
        You should be physically capable and a high school education is mandatory.</p><br><br>

     <p><b>Social media manager</b><br>
        We need a fun, motivated individual to take care of the store image online. This will include updating people
        about our offers, making funny posts about daily life in the store, finding new venues to post on and
        deal with internet trolls commenting on the stores posts(however you like) and more! College education is preferable.
        </p><br><br>

    <p>To apply for a job simply email captain@cc.is with contact information and we will set up an appointment with you.</p>

{% endblock %}