<div class="main-footer">

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h4 class="text-yellow">Contact us:</h4>
                <p>Hverfisgata 20,<br>101 Reykjavík</p>
                <p></p>555-5555</p>
                <p>captain@cc.is</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <!-- todo fix links-->
                <a class="nav-link text-yellow" href="/aboutus">FAQ</a>
                <a class="nav-link text-yellow" href="/aboutus">About us</a>
                <a class="nav-link text-yellow" href="/aboutus">Terms & conditions</a>
            </div>
            <div class="col-12 col-md-4 text-right">
                <h4 class="text-yellow">Opening hours:</h4>
                <p>Mon-Fri: <br> 10:00-18:00</p>
                <p>Sat: <br> 10:00-16:00</p>
            </div>
        </div>
    </div>

</div>

