<div id="top-header" class="d-flex align-items-center">
    <div>
        <a class="nav-link" href="/"><img src="/static/images/logo.png"> <span class="sr-only">(current)</span></a>
    </div>
    <!-- todo fix this search button-->
    <div class="ml-auto mr-auto">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <!-- todo change the search button-->
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="d-flex text-center">
        <a class="nav-link" href="{% url 'user-index' %}"><i class="fa fa-user"></i><div>User</div></a>
        <!--<a class="nav-link" href="% url 'wishlist-index' %}"><i class="far fa-heart"></i><div>Wishlist</div></a>
        <a class="nav-link" href="% url 'cart-index' %}"><i class="fa fa-shopping-cart"></i><div>Cart</div></a>-->
        <!-- need to fix curly brackets when getting out of comment-->
    </div>

</div>


<nav id="main-menu" class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--<ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="% url 'manufacturer-index' %}">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="% url 'manufacturer-index' %}">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="% url 'manufacturer-index' %}">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="% url 'manufacturer-index' %}">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="% url 'manufacturer-index' %}">Product</a>
            </li>
        </ul>-->
        <!-- need to fix curly brackets when getting out of comment-->
    </div>
</nav>

