
.text-yellow { color: #F2BB05!important; }


.btn-theme {
    background-color: #F2BB05;
    border: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.7rem;
    color: white;
    box-shadow: none!important;
}

.btn-theme:focus,
.btn-theme:hover {
    background-color: #F2BB05!important;
}

.no-wrap { white-space: nowrap;}

body  {
    font-family: 'Open Sans', sans-serif;
}



/**************
* HEADER
***************/

    #top-header {
        background-color: #124E78;
    }

    #top-header a {
        color: #FFFFFF;
    }

    #top-header .profile-image {
        height: 30px;
        width: 30px;
        border-radius: 30px;
    }


    #header-search input {
        border: none;
        border-radius: 50px 0 0 50px;
        min-height: 50px!important;
    }

    #header-search .btn {
        background-color: #FFFFFF!important;
        border: none;
        border-radius: 0 50px 50px 0;
        color: #F2BB05;
        min-height: 50px!important;
    }

    .jumbotron {
        color: white;
        background-image: url("/static/images/hero.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 33vh;
        position: relative;
        z-index: 1;
    }

    .jumbotron-darken {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: -1;
    }


/**************
* MAIN MENU
***************/

    #main-menu {
        background-color: #051B44;
    }

    #main-menu .navbar-nav {
        justify-content: space-between;
        width: 100%;
    }

    #main-menu a {
        color: #FFFFFF;
        font-family: 'Press Start 2P', cursive;
        font-size: 0.7rem;
    }

    #main-menu .navbar-toggler-icon {
        color: white;
        background-image: none;

    }


/**************
* PRODUCTS
***************/

    .product-title {
        font-family: 'Press Start 2P', cursive;
    }

    .product-price {
        color: green;
        font-size: 1.2rem;
    }

    .product-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 200px;
        display: block;
    }


/**************
* MISC
***************/


    .card-link {
        color: black;
        text-decoration: underline;
    }

    .jumbotron-link {
        color: black;
    }

/**************
* CART
***************/

    .cart-image {
        height: 60px;
        width: 60px;
    }

/**************
* USER
***************/

#profile-form input,
#profile-form label,
#profile-form select {
    display: block;
    margin-bottom: 0.25rem;
}

/**************
* FOOTER
***************/

    .main-footer {
        background-color: #051B44;
    }

    .main-footer p {
        color: #FFFFFF;
    }