
.text-yellow { color: #F2BB05!important; }

.btn-yellow {
    background-color: #F2BB05;
    border: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.7rem;
    color: white;
    box-shadow: none!important;
}

.btn-yellow:focus,
.btn-yellow:hover {
    background-color: #F2BB05!important;
}

body  {
    font-family: "Open Sans";
}

#top-header {
    background-color: #124E78;
}

#top-header a {
    color: #FFFFFF;
}

#header-search input {
    border: none;
    border-radius: 50px 0 0 50px;
    min-height: 50px!important;
}

#header-search .btn {
    background-color: #FFFFFF!important;
    border: none;
    border-radius: 0 50px 50px 0;
    color: #F2BB05;
    min-height: 50px!important;
}

#main-menu {
    background-color: #051B44;
}

#main-menu .navbar-nav {
    justify-content: space-between;
    width: 100%;
}

#main-menu a {
    color: #FFFFFF;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.7rem;
}

.card-link {
    color: black;
    text-decoration: underline;
}



.main-footer {
    background-color: #051B44;
}

.main-footer p {
    color: #FFFFFF;
}


