{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- TODO Fix decimal numbers -->
        {% if not cart  %}
            <h1>Your cart is empty!</h1>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total price</th>
                    </tr>
                </thead>
                {% for item in cart %}
                    <tbody>
                        <tr>
                            <th scope="row"><img src="{{ item.cover_art }}" class="cart-image" /></th>
                            <td>{{ item.name }}</td>
                            <td>${{ item.price }}</td>
                            <td>{{ item.amount }}</td>
                            <td>${{ item.total }}</td>
                            <td><button id="{{ item.id }}" type="button" class="btn btn-default btn-remove-from-cart">Remove one from cart</button></td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
            <div class="text-right">
                <h1>Total Cart Price: {{ subtotal }}</h1>
                <a href="{% url "checkout" %}" class="btn btn-theme" role="button">Go to checkout</a>
            </div>
        {% endif %}
{% endblock %}

