{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="text-center">
        <a href="#" class="btn btn-primary btn-yellow btn-lg" role="button">Computers</a>
    </div>

    <!--  check views.py also-->
    <div class="row my-4">
        {% for computer in computers %}
            {% include "products/product_front_page.html" with product=computer %}
        {% endfor %}
    </div>
    <div class="text-center">
        <a href="#" class="btn btn-primary btn-yellow btn-lg" role="button">Games</a>
    </div>

    <div class="row my-4">
        {% for game in games %}
            {% include "products/product_front_page.html" with product=game %}
        {% endfor %}
    </div>
{% endblock %}