{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="jumbotron-darken"></div>
        <div class="container">
            <h1 class="display-4">Accessories extravaganza!</h1>
            <p>We've got all the accessories you need</p>
            <a href="/products/?manufacturer=&category=Accessories&order_by=name" class="btn btn-primary btn-theme  btn-lg" role="button">Check it out!</a>
        </div>
    </div>
    <div class="text-center py-5">
        <a href="/products/?manufacturer=&category=Console&order_by=name" class="btn btn-primary btn-theme btn-lg" role="button">Computers</a>
    </div>

    <!--  check views.py also-->
    <div class="row my-4">
        {% for computer in computers %}
            <div class="col-md-3">
                {% include "products/product_front_page.html" with product=computer %}
            </div>
        {% endfor %}
    </div>
    <div class="text-center py-5">
        <a href="/products/?manufacturer=&category=Video+Game&order_by=name" class="btn btn-primary btn-theme btn-lg" role="button">Games</a>
    </div>
    <div class="row my-4">
        {% for game in games %}
            <div class="col-md-3">
                {% include "products/product_front_page.html" with product=game %}
            </div>
        {% endfor %}
    </div>
{% endblock %}