{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="jumbotron-darken"></div>
        <div class="container">
            <h1 class="display-4">Promos</h1>
            <p>Here can we put promos, or not..</p>
            <a href="#" class="btn btn-primary btn-yellow btn-lg" role="button">Check it out!</a>

        </div>
    </div>

    <div class="text-center py-5">
        <a href="#" class="btn btn-primary btn-yellow btn-lg" role="button">Computers</a>
    </div>

    <!--  check views.py also-->
    <div class="row my-4">
        {% for computer in computers %}
            {% include "products/product_front_page.html" with product=computer %}
        {% endfor %}
    </div>
    <div class="text-center py-5">
        <a href="#" class="btn btn-primary btn-yellow btn-lg" role="button">Games</a>
    </div>

    <div class="row my-4">
        {% for game in games %}
            {% include "products/product_front_page.html" with product=game %}
        {% endfor %}
    </div>
{% endblock %}