{% extends 'base.html' %}
{% block content %}
    <div>Previous Searches:
        {% for search in search_history %}
            <a href="{% url "products-index" %}?search={{ search }}">{{ search }}</a>
        {% endfor %}
    </div>
    <form method="GET">
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4 p-3">
                    <p class="font-weight-bold">Manufacturer</p>
                    <div class="custom-control custom-radio my-1">
                        <label>
                            <input type="radio" {% if selected_manufacturer == "" %}checked{% endif %} class="custom-control-input" name="manufacturer" value="" onchange="this.form.submit()">
                            <div class="custom-control-label"></div>
                            All
                        </label>
                     </div>
                    {% for manufacturer in manufacturers %}
                        <div class="custom-control custom-radio my-1">
                            <label>
                                <input type="radio" {% if selected_manufacturer == manufacturer.name %}checked{% endif %} class="custom-control-input" name="manufacturer" value="{{ manufacturer.name }}" onchange="this.form.submit()">
                                <div class="custom-control-label"></div>
                                {{ manufacturer.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="card p-3">
                    <p class="font-weight-bold">Products</p>

                    <div class="custom-control custom-radio my-1">
                        <label>
                            <input type="radio" {% if selected_category == "" %}checked{% endif %} class="custom-control-input" name="category" value="" onchange="this.form.submit()">
                            <div class="custom-control-label"></div>
                            All
                        </label>
                     </div>
                    {% for category in categories %}
                        <div class="custom-control custom-radio my-1">
                            <label>
                                <input type="radio" class="custom-control-input" {% if selected_category == category.name %}checked{% endif %} name="category" value="{{ category.name }}" onchange="this.form.submit()">
                                <div class="custom-control-label"></div>
                                {{ category.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <select class="mb-5" onchange="this.form.submit()" name="order_by">
                    <option {% if selected_order_by == 'name' %}selected{% endif %} value="name">Name</option>
                    <option {% if selected_order_by == 'price' %}selected{% endif %} value="price">Price</option>
                </select>
                <div id="products-content" class="row">
                    {% for product in products %}
                        <div class="col-md-4 mb-5">
                            {% include "products/product_front_page.html" with product=product %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>


{% endblock %}