{% extends "base.html" %}
{% block content %}
    <!-- TODO proper cover image -->
    <a href="/products/{{ product.id }}"><img src="/static/images/products/{{ product.id }}.jpg" class="card-img-top" alt="{{ product.name }}" /><a/>
    <h4>{{ product.name }}</h4>
    <p>{{ product.price }}$</p>
    <p>{{ product.description }}</p>
    <a href="#" class="card-link">Add to cart</a>
    {% for product_image in product.productimage_set.all %}
        <img src="{{ product_image.image }}" class="product-img" />
    {% endfor %}
{% endblock %}