{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <a href="/products/{{ product.id }}"><img src="{{ product.cover_image }}" class="card-img-top" alt="{{ product.name }}" /></a>
        </div>
        <div class="col-md-6 d-flex flex-column">
            <h4 class="product-title">{{ product.name }}</h4>
            <div class="mt-auto">
                <p class="product-price">{{ product.price }}$</p>
                <button id="{{ product.id }}" type="button" class="btn btn-default btn-theme btn-cart">Add to cart</button>
            </div>
        </div>
    </div>
    <div class="py-5">
        <h4>Description</h4>
        <p>{{ product.description }}</p>
        {% for product_image in product.productimage_set.all %}
            <img src="{{ product_image.image }}" class="product-img img-fluid" />
        {% endfor %}
    </div>
    <div>
        <h3 class="mt-5">Admin:</h3>
        <div class="mt-3">
            {% if is_staff %}
                <a href="{% url "update_product" product.id %}" class="block btn btn-primary btn-theme btn-lg">Update Product</a>
            {% endif %}
        </div>

    </div>

{% endblock %}